*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	font-family: 'Playfair Display', serif;
	font-size: 15px;
    font-style: normal;
    font-weight: 400;
	line-height: 1.6;

    width: 100%;
   
}

/* Header */
.header{
    background-image: url('image/header/BG.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px;
}

.menu__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu__link{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-right: 32px;

    color: #FFFFFF;
}

.menu__link:hover{
    font-weight: 500;
    border-bottom: 3px solid #FF7757;

}


.menu__btn{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 32px;

    background-color: transparent;
    color: #FFFFFF;
}

.menu__btn:hover{
    background: #FF7757;
    border-radius: 12px;
}
.hero{
    padding-bottom: 270px;
}

.hero__title{
    padding: 142px 0 170px 32px;
}

.hero__h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 84px;
    line-height: 112px;

    margin-bottom: 16px;
    text-align: left;
    width: 75%;
    color: #FFFFFF;
}

.hero__text{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.hero__book{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background: #FFFFFF;
    padding: 0px 0px 0 32px;
    gap: 100px;
}

.hero__reserve{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 100px 0 32px;

    background: #FFFFFF;
    gap: 40px;
}

.reserve__title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding-bottom: 12px;
    text-transform: uppercase;
    color: #767E86;
}

.reserve__input{
    font-size: 18px;
    line-height: 24px;
   
    color: #172432;
    padding: 0px 0px 10px;

    width: 195.75px;
    height: 34px;
    border-bottom: 1px solid #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.hero__booknow{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 60px 20px;
    gap: 12px;  

    background: #FF7757;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.book__text{
    font-size: 36px;
    line-height: 48px;

    color: #FFFFFF;
}

/* Destinations */
.section{
    display: flex;
    justify-content: space-between;    
    align-items: flex-end;
    padding: 0px;
    gap: 32px;

    padding: 140px 32px 100px;
}

.section__h3{
    font-size: 64px;
    line-height: 85px;
    padding-bottom: 20px;

    color: #172432;
}

.section__text{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 28px;

    color: #767E86;
}

.section__btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.section__shev{
    padding: 20px 28px;
    background: #172432;
    border-radius: 12px;

    cursor: pointer;
}
.section__shev:hover{
    background: #FF7757;
}


.destinations__content{
    display: flex;
    flex-direction: row;

    padding: 0 32px 140px;
    gap: 32px;
}

.destinations__items{
    position: relative;
}

.destinations__textblock{
    position: absolute;
    bottom: 40px;
    left: 24px;
    z-index: 1;
}

.destinations__city{
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;

    padding-bottom: 17px;
    color: #FFFFFF;
}

.destinations__location{ 
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    padding-left: 17px;
    color: #FFFFFF;
}

/* Action */

.section__title-offer{
    text-align: end;
}

.offer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 32px 140px;
    gap: 32px;

}

.offer__blog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 437.33px;
    height: 629px;
}

.offer__textblog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;

    width: 437.33px;
    height: 343px;

    background: #FFF8F1;
    border-radius: 0px 0px 26px 26px;
}

.offer__city{
    font-family: 'Mulish', sans-serif;
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 8px;

    color: #767E86;
}

.offer__text{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #172432;
}

.offer__details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 389.33px;
    height: 64px;
}

.offer__pr{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.offer__from{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #767E86;
}

.offer__price{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #FF7757;
}

.offer__btn{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 24px;

    text-transform: uppercase;

    color: #FFFFFF;
    padding: 20px 40px;

    background: #172432;
    border-radius: 12px;
    cursor: pointer;
}

.offer__btn:hover{
    background-color: #FF7757;
}

/* Travel */

.travel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 32px 140px;
    gap: 32px;
}

.travel__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

}

.travel__title{
    width: 50%;
    font-size: 54px;
    line-height: 72px;

    color: #172432;
}

.travel__text{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 52px;

    color: #172432;
}

.travel__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;

    cursor: pointer;
}

.travel__read-more{
    color: #FF7757;
}