*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    font-family: 'Rubik', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	line-height: 1.6;

    width: 100%;
   
}

/* Header */
.header{
    background-image: url('image/header/BG.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px;
}

.menu__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu__link{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-right: 32px;

    color: #FFFFFF;
}

.menu__link:hover{
    font-weight: 500;
    border-bottom: 3px solid #FF7757;

}


.menu__btn{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 32px;

    background-color: transparent;
    color: #FFFFFF;
}

.menu__btn:hover{
    background: #FF7757;
    border-radius: 12px;
}